.app-download {
  margin-top: 100px;
  text-align: center;
  font-size: max(3vw, 20px);
  font-weight: 500;
  color: #222;
}

.app-download-platforms {
  display: flex;
  justify-content: center;
  gap: max(2vw, 10px);
  margin-top: 40px;
  flex-wrap: wrap;
}

.app-download-platforms img {
  width: max(30vw,120px);
  max-width: 180px;
  cursor: pointer;
  transition: 0.5s;
}

.app-download-platforms img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 5px 15px rgba(0,0,0,0.2));
}

/* RESPONSIVE */
@media(max-width:768px){
  .app-download { font-size: 18px; }
  .app-download-platforms { gap:15px; }
  .app-download-platforms img { width: 120px; }
}
